* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(../images/im.jpg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;

}

a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

a:hover{
    color: yellow;    
}


header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, #0073ff, #ee00ff);
    border-radius: 10px;
    padding: 6px 19px;
}

ul.links {
    display: flex;
    gap: 40px;
    background: linear-gradient(45deg, #0073ff, #ee00ff);
    padding: 11px 67px;
    border-radius: 20px;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background: linear-gradient(-45deg, #0073ff, #ee00ff);
    color: #fff;
    padding: 0.5rem;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}


.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu{
    display: block;
}

#hero {
    margin-top: 50px;
    
}
section#hero {
    height: calc(100vh-60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    justify-content: center;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    
    
}
/* #hero .container {
    background: linear-gradient(48deg, #0073ff, #00d5ff);
    border-radius: 10px;
    padding: 50px;
} */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}